.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    height: min-content;
  
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: #121214;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #718096;
    cursor: grab;
}

.swiper-pagination-bullet-active {
    background-color: #718096;
}

.swiper-pagination-bullet {
    background: white;
    
}

.swiper-pagination {
    display: flex;
    justify-content: center !important;   
}
